DerivedDataCache
Intermediate
Saved
Build

.vs
.vscode
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.pdb
*.exe
*.exp
*.wav
*.mp4

# Compiled source files for the engine to use
Intermediate/*
Plugins/*/Intermediate/*

# Cache files for the editor to use
DerivedDataCache/*

# Visual Studio
.vs/
.vsconfig
.vscode/